@model IEnumerable<ListEmployees.Models.SelectEmployee_Result>

@{
    ViewBag.Title = "List Employees";
}
<h2>List of Employees</h2>
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <b>Search Options: </b>
    <br />
    <p>Last Name: @Html.TextBox("lastName")</p>
    <p>First Name: @Html.TextBox("firstName")</p>
    <p>Department: @Html.DropDownList("departmentID", (IEnumerable<SelectListItem>)ViewData["deptList"], "Please select", new { @class = "form-control"})</p>
    <p>Sub-Department: @Html.DropDownList("subDepartmentID", (IEnumerable<SelectListItem>)ViewData["subDeptList"], "Please select", new { @class = "form-control" })</p>
    <input type="submit" name="submit" value="Submit" />
    <br />
}
<br />

<table>
    <tr>
        <th>
            Profile Image
        </th>
        <th>
            Name
        </th>
        <th>
           Bio
        </th>
        <th>
            Department
        </th>
        <th>
            Sub-Department
        </th>
        <th>
            Profile Links
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.ProfileImage)" alt="@Html.DisplayFor(modelItem => item.ProfileImage)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
            <td>
                @Html.DisplayFor(modelItem => item.Bio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubDepartmentName)
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.FBProfileLink)">Facebook</a>
                <a href="@Html.DisplayFor(modelItem => item.TwitterProfileLink)">Twitter</a>
            </td>
        </tr>
    }

</table>  